*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  min-height: 0;
}

body {
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  overflow-wrap: break-word;
  font-weight: inherit;
}

p {
  text-wrap: pretty;
  line-height: 1.55;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

svg {
  /* Bug(Old Safari): SVG incorrect placement */
  -webkit-transform: translate(0px, 0px);
}