.p-the-footer {
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 1.25rem 1.25rem 2rem;
}

.p-the-footer__main {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-direction: column;
}

.p-the-footer__description {
  margin-top: 1rem;
  max-width: 25rem;
}

.p-the-footer .btn--cta {
  margin-top: 1.25rem;
}

.p-the-footer__bottom {
  border-top: 1px solid var(--color-grey);
  margin-top: 4rem;
  padding-top: 2rem;
  font-size: 0.75rem;
}

@media (min-width: 976px) {
  .p-the-footer__main {
    flex-direction: row;
  }
}