.p-the-footer {
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 2rem 1.25rem 2rem;
}

.p-the-footer__main {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-direction: column;
}

.p-the-footer__description {
  margin-top: 1rem;
  max-width: 25rem;
}

.p-the-footer .btn--cta {
  margin-top: 1.25rem;
}

.p-the-footer__lists {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.p-the-footer__list-label {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.p-the-footer__list {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.p-the-footer__bottom {
  border-top: 1px solid var(--color-grey);
  margin-top: 4rem;
  padding-top: 2rem;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .p-the-footer__lists {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
  }
}

@media (min-width: 976px) {
  .p-the-footer__main {
    flex-direction: row;
  }
}