:root {
  --color-black: #111111;
  --color-white: #FFFFFF;
  --color-grey: #D2D2D2;
  --color-orange: #F4A436;
  --color-orange--lighter: #f7dbb4;
  --color-orange--light: #faf7f3;

  --header-height: 66px;
  --pw-margin: 0.75rem;
}

@media (min-width: 768px) {
  :root {
    --header-height: 90px;
    --pw-margin: 1.25rem;
  }
}

#content {
  min-height: 60vh;
}

.section {
  margin: 8rem 0;
}

.menu {
  font-weight: 300;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn,
.btn--cta {
  display: inline-block;
  text-align: center;
  padding: 1rem 1.8rem;
  border-radius: 0.25rem;
  transition: border-radius 300ms ease-in, background-color 300ms ease-in;
  color: var(--color-black);
}

.btn {
  border: 1px solid var(--color-black);
}

.btn--cta {
  border: 1px solid var(--color-orange);
  background-color: var(--color-orange);
}

.btn:hover,
.btn--cta:hover {
  border-radius: 1rem;
}

.btn--read-more {
  cursor: pointer;
  font-weight: 500;
  display: inline-block;
}

.cols-6,
.cols-10,
.cols-full {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 var(--pw-margin);
}

.cols-6 {
  --cols: 6;
}

.cols-10 {
  --cols: 10;
}

.cols-full {
  --cols: 12;
}


/* CONTACT FORM 7 */
/* CONTACT FORM 7 */
/* CONTACT FORM 7 */

.wpcf7-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wpcf7-form > p {
  position: relative;
}

.wpcf7-form .label-text {
  display: inline-block;
  position: absolute;
  top: calc(50% - 0.5rem);
  left: 0.75rem;
  z-index: 1;
  font-size: 1rem;
  list-style: 1;
}

.wpcf7-form > p:focus-within .label-text  {
  /* transform: scale(0.75) translateY(-0.375rem); */
}

input.wpcf7-form-control,
textarea.wpcf7-form-control {
  display: block;
  border-radius: 0.75rem;
  border: 1px solid var(--color-grey);
  padding: 1.5rem 0.75rem 0.75rem;
  width: 100%;
  transition: transform 300ms ease-in;
}

@media (min-width: 768px) {
  .cols-6,
  .cols-10,
  .cols-full {
    max-width: calc(((var(--max-width, 100%) - ((var(--cols, 12) - 1) * 1rem)) / 12 * var(--cols, 12)) + ((var(--cols, 12) - 1) * 1rem));
  }
}

@media (min-width: 1920px) {
  :root {
    --max-width: 1920px;
  }
}