:root {
  /* NEUTRAL COLORS */
  /* NEUTRAL COLORS */
  /* NEUTRAL COLORS */

  --color-black: #111111;
  --color-white: #FFFFFF;

  /* MAIN COLORs */
  /* MAIN COLORs */
  /* MAIN COLORs */

  --color-orange: #e0a342;
  --color-dark-orange: #D88327;

  --color-sand: #fdf6ea;
  --color-dark-sand: #EBE0D6;

  --color-green: #215439;
  --color-dark-green: #003A23;

  --color-pink: #ebc3d9;
  --color-dark-pink: #F397BE;

  --color-grey: #d5e1e1;
  --color-dark-grey: #9FC4C5;

  /* SIZING */
  /* SIZING */
  /* SIZING */

  --header-height: 66px;
  --pw-margin: 0.75rem;
}

@media (min-width: 768px) {
  :root {
    --header-height: 90px;
    --pw-margin: 1.25rem;
  }
}

body {
  background-color: var(--color-sand);
}

img {
  border-radius: 0.5rem;
}

::selection {
  background: var(--color-orange);
}

.header-hidden {
  transform: translateY(-101%);
}

#Header {
  transition: transform 200ms ease-in;
}

#Content {
  min-height: 60vh;
}

.section {
  margin: 6rem 0;
}

.menu {
  font-weight: 300;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* BUTTONS */
/* BUTTONS */
/* BUTTONS */

.btn,
.btn--cta {
  display: inline-block;
  text-align: center;
  padding: 1rem 1.8rem;
  border-radius: 0.25rem;
  transition: border-radius 300ms ease-in, background-color 300ms ease-in;
}

.btn {
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

.btn--cta {
  color: var(--color-dark-green);
  border: 1px solid var(--color-orange);
  background-color: var(--color-orange);
}

.btn:hover,
.btn--cta:hover {
  border-radius: 1rem;
}

.btn--read-more {
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
}

.btn--link {
  display: inline-block;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 0.45rem;
  transition: text-underline-offset 150ms ease-in;
  padding-bottom: 0.45rem;
  color: var(--color-dark-orange);
}

.btn--link:hover {
  text-underline-offset: 0.25rem;
}

/* RATIO CONTAINER */
/* RATIO CONTAINER */
/* RATIO CONTAINER */

.ratio-container {
  position: relative;
  background-color: var(--color-orange--50);
  border-radius: 0.75rem;
}

.ratio-container::before {
  content: "";
  display: block;
  height: 0;
  width: 100%;
  padding-top: var(--ratio, 100%);
}

.ratio-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ratio--square {
  --ratio: 100%;
}

.ratio--portrait {
  --ratio: calc(5 / 4 * 100%);
}

.ratio--landscape {
  --ratio: calc(9 / 16 * 100%);
}

.ratio--banner {
  --ratio: calc(1.5 / 4 * 100%);
}

/* COLS */
/* COLS */
/* COLS */

.cols-6,
.cols-8,
.cols-10,
.cols-full {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 var(--pw-margin);
}

.cols-6 {
  --cols: 6;
}

.cols-8 {
  --cols: 8;
}

.cols-10 {
  --cols: 10;
}

.cols-full {
  --cols: 12;
}

@media (min-width: 768px) {
  .cols-6,
  .cols-8,
  .cols-10,
  .cols-full {
    max-width: calc(((var(--max-width, 100%) - ((var(--cols, 12) - 1) * 1rem)) / 12 * var(--cols, 12)) + ((var(--cols, 12) - 1) * 1rem));
  }
}

@media (min-width: 1920px) {
  :root {
    --max-width: 1920px;
  }
}

/* MENU LINKS */
/* MENU LINKS */
/* MENU LINKS */

.p-the-header__menu .menu-item a,
.p-the-footer__list li a {
  padding-bottom: 0.3rem;
  margin-bottom: -0.3rem;
}

.p-the-header__menu .menu-item a,
.p-the-footer__list:not(.p-the-footer__addresses) li a {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.p-the-header__menu .menu-item a::before,
.p-the-footer__list:not(.p-the-footer__addresses) li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  display: block;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: transform 300ms ease-in;
  opacity: 0.8;
}

.p-the-header__menu .menu-item a:hover::before,
.p-the-footer__list:not(.p-the-footer__addresses) li a:hover::before {
  transform: translateX(100%);
}

/* CONTACT FORM 7 */
/* CONTACT FORM 7 */
/* CONTACT FORM 7 */

.wpcf7-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-dark-orange);
}

.wpcf7-form > p {
  position: relative;
}

.wpcf7-form .label-text,
input.wpcf7-form-control {
  font-size: 1rem;
  line-height: 1;
  background-color: var(--color-dark-sand);
}

.wpcf7-textarea {
  background-color: var(--color-dark-sand);
}

.wpcf7-form .label-text {
  display: inline-block;
  position: absolute;
  top: 1.4rem;
  transform-origin: top left;
  transform: translateY();
  left: 1.25rem;
  z-index: 1;
  transition: transform 150ms ease-in, color 150ms ease-in;
}

.wpcf7-form > p:focus-within .label-text,
.label-text.has-value  {
  color: var(--color-orange);
  transform: scale(0.8) translateY(-1rem);
}

.wpcf7-not-valid-tip {
  margin-top: 0.25rem;
  color: var(--color-orange);
}

.wpcf7-form input:focus-visible,
.wpcf7-form textarea:focus-visible {
  outline-color: var(--color-orange);
}

input:not([type="submit"]).wpcf7-form-control,
textarea.wpcf7-form-control {
  display: inline-block;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  padding: 1.5rem 1.25rem 1rem;
  width: 100%;
}

.wpcf7-form .btn {
  cursor: pointer;
  background-color: transparent;
}

.wpcf7-form .form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}