:root {
  --color-black: #111111;
  --color-grey--dark: #434343;
  --color-white: #FFFFFF;
  --color-grey: #D2D2D2;
  --color-orange: #F4A436;
  --color-orange--lighter: #f7dbb4;
  --color-orange--light: #faf7f3;

  --header-height: 66px;
  --pw-margin: 0.75rem;
}

@media (min-width: 768px) {
  :root {
    --header-height: 90px;
    --pw-margin: 1.25rem;
  }
}

body {
  background-color: var(--color-white);
}

img {
  border-radius: 0.75rem;
}

.header-hidden {
  transform: translateY(-101%);
}

#Header {
  transition: transform 200ms ease-in;
}

#Content {
  min-height: 60vh;
}

.section {
  margin: 8rem 0;
}

.menu {
  font-weight: 300;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* BUTTONS */
/* BUTTONS */
/* BUTTONS */

.btn,
.btn--cta {
  display: inline-block;
  text-align: center;
  padding: 1rem 1.8rem;
  border-radius: 0.25rem;
  transition: border-radius 300ms ease-in, background-color 300ms ease-in;
  color: var(--color-black);
}

.btn {
  border: 1px solid var(--color-black);
}

.btn--cta {
  border: 1px solid var(--color-orange);
  background-color: var(--color-orange);
}

.btn:hover,
.btn--cta:hover {
  border-radius: 1rem;
}

.btn--read-more {
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
}

.btn--link {
  display: inline-block;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 0.45rem;
  transition: text-underline-offset 150ms ease-in;
  padding-bottom: 0.45rem;
}

.btn--link:hover {
  text-underline-offset: 0.25rem;
}

/* RATIO CONTAINER */
/* RATIO CONTAINER */
/* RATIO CONTAINER */

.ratio-container {
  position: relative;
  background-color: var(--color-orange--light);
  border-radius: 0.75rem;
}

.ratio-container::before {
  content: "";
  display: block;
  height: 0;
  width: 100%;
  padding-top: var(--ratio, 100%);
}

.ratio-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ratio--square {
  --ratio: 100%;
}

.ratio--portrait {
  --ratio: calc(5 / 4 * 100%);
}

.ratio--landscape {
  --ratio: calc(9 / 16 * 100%);
}

.ratio--banner {
  --ratio: calc(1.5 / 4 * 100%);
}

/* COLS */
/* COLS */
/* COLS */

.cols-6,
.cols-8,
.cols-10,
.cols-full {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 var(--pw-margin);
}

.cols-6 {
  --cols: 6;
}

.cols-8 {
  --cols: 8;
}

.cols-10 {
  --cols: 10;
}

.cols-full {
  --cols: 12;
}

@media (min-width: 768px) {
  .cols-6,
  .cols-8,
  .cols-10,
  .cols-full {
    max-width: calc(((var(--max-width, 100%) - ((var(--cols, 12) - 1) * 1rem)) / 12 * var(--cols, 12)) + ((var(--cols, 12) - 1) * 1rem));
  }
}

@media (min-width: 1920px) {
  :root {
    --max-width: 1920px;
  }
}

/* RTE */
/* RTE */
/* RTE */

.rte img {
  display: block;
  width: 100%;
  height: auto;
}

.rte ul,
.rte ol,
.rte blockquote,
.rte img {
  margin: 1.5rem 0;
}

.rte ul,
.rte ol {
  display: flex;
  flex-direction: column;
}

.rte ol {
  padding-left: 1.5rem;
  list-style: auto;
  counter-reset: listCounter;
}

.rte li {
  position: relative;
}

.rte ul li {
  padding: 1.5rem 0;
}

.rte ol li {
  padding: 1.5rem 0 1.5rem 2rem;
  counter-increment: listCounter;
}

.rte li::before,
.rte li:last-child::after {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% + 1.5rem);
  height: 1px;
  right: 0;
  background-color: var(--color-grey);
}

.rte ul li::before,
.rte ul li:last-child::after {
  width: 100%;
}

.rte li::before {
  top: 0;
}

.rte li:last-child::after {
  bottom: 0;
}

.rte ol li::marker {
  content: counter(listCounter, decimal-leading-zero);
  font-weight: 300;
}

.rte blockquote {
  display: inline-block;
  padding: 1.25rem 1.5rem;
  background-color: var(--color-orange--lighter);
  border-radius: 0.75rem;
  font-style: italic;
}

.rte strong {
  font-weight: 800;
}

/* MENU LINKS */
/* MENU LINKS */
/* MENU LINKS */

.p-the-header__menu .menu-item a,
.p-the-footer__list li a {
  padding-bottom: 0.3rem;
  margin-bottom: -0.3rem;
}

.p-the-header__menu .menu-item a,
.p-the-footer__list:not(.p-the-footer__addresses) li a {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.p-the-header__menu .menu-item a::before,
.p-the-footer__list:not(.p-the-footer__addresses) li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  display: block;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: transform 300ms ease-in;
  opacity: 0.8;
}

.p-the-header__menu .menu-item a:hover::before,
.p-the-footer__list:not(.p-the-footer__addresses) li a:hover::before {
  transform: translateX(100%);
}

/* CONTACT FORM 7 */
/* CONTACT FORM 7 */
/* CONTACT FORM 7 */

.wpcf7-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wpcf7-form > p {
  position: relative;
}

.wpcf7-form .label-text,
input.wpcf7-form-control {
  font-size: 1rem;
  line-height: 1;
}

.wpcf7-form .label-text {
  display: inline-block;
  position: absolute;
  top: 1.4rem;
  transform-origin: top left;
  transform: translateY();
  left: 1.25rem;
  z-index: 1;
  transition: transform 150ms ease-in, color 150ms ease-in;
}

.wpcf7-form > p:focus-within .label-text,
.label-text.has-value  {
  color: var(--color-grey--dark);
  transform: scale(0.8) translateY(-1rem);
}

.wpcf7-not-valid-tip {
  margin-top: 0.25rem;
  color: var(--color-orange);
}

input:not([type="submit"]).wpcf7-form-control,
textarea.wpcf7-form-control {
  display: inline-block;
  border-radius: 0.75rem;
  border: 1px solid var(--color-grey);
  padding: 1.5rem 1.25rem 1rem;
  width: 100%;
}

.wpcf7-form .btn {
  cursor: pointer;
  background-color: transparent;
}

.wpcf7-form .form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}