:root {
  --color-black: #111111;
  --color-white: #FFFFFF;
  --color-grey: #D2D2D2;
  --color-orange: #F4A436;
}

.section {
  margin: 4rem 0;
}

.menu {
  font-weight: 300;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn,
.btn--cta {
  display: inline-block;
  text-align: center;
  padding: 1rem 1.8rem;
  border-radius: 0.25rem;
  transition: color 300ms ease-in, background-color 300ms ease-in;
  color: var(--color-black);
}

.btn {
  border: 1px solid var(--color-black);
}

.btn--cta {
  border: 1px solid var(--color-orange);
  background-color: var(--color-orange);
}

.btn:hover,
.btn--cta:hover {
  background-color: transparent;
}

.btn--cta:hover {
  color: var(--color-orange);
}

.cols-6,
.cols-full {
  margin: 0 auto;
  max-width: calc(((var(--max-width, 100%) - ((var(--cols, 12) - 1) * 1rem)) / 12 * var(--cols, 12)) + ((var(--cols, 12) - 1) * 1rem));
}

.cols-6 {
  --cols: 6;
}

.cols-full {
  --cols: 12;
}


@media (min-width: 1920px) {
  :root {
    --max-width: 1920px;
  }
}