/* PART: SECTION HEADER */
/* PART: SECTION HEADER */
/* PART: SECTION HEADER */

.p-section-header:not(:last-child) {
  margin-bottom: 1.5rem;
}

.p-section-header__btn {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* PART: REVIEW */
/* PART: REVIEW */
/* PART: REVIEW */

.p-review {
  border-radius: 0.75rem;
  background-color: var(--color-orange--light);
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.js-truncated.active .p-review__text--truncated,
.js-truncated:not(.active) .p-review__text--full {
  display: none;
}

.p-review__icon {
  color: var(--color-orange--lighter);
  display: flex;
  justify-content: center;
}

.p-review__name-wrapper {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.p-review__name-wrapper .label {
  margin: 0;
}

@media (min-width: 768px) {
  .p-review {
    padding: 1.25rem;
  }
}

@media (min-width: 960px) {
  .p-review {
    padding: 2rem;
  }
}
