/* SECTION: TEXT */
/* SECTION: TEXT */
/* SECTION: TEXT */

.section-text {
  padding: 2rem 0;
  display: grid;
  align-items: center;
}

/* SECTION: GALLERY */
/* SECTION: GALLERY */
/* SECTION: GALLERY */

.section-gallery__wrapper {
  overflow: hidden;
  width: 100%;
}

.section-gallery__images {
  display: flex;
  align-items: center;
  gap: var(--pw-margin);
}

.section-gallery__image-container {
  flex: 0 0 70%;
}

.section-gallery__image-container img {
  width: 100%;
  height: auto;
}

@media (min-width: 960px) {
  .section-gallery__images {
    display: flex;
    align-items: center;
  }

  .section-gallery__image-container {
    flex: 0 0 45%;
  }
}

/* SECTION: SERVICES */
/* SECTION: SERVICES */
/* SECTION: SERVICES */

.section-services__content,
.section-services-overview__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0 4rem;
}

.section-services-overview__aside {
  flex: 0 0 calc(40% - 2rem);
  background-color: var(--color-sand);
  margin-top: -1px;
}

.section-services__posts,
.section-services-overview__posts {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.section-services__post:nth-child(n + 2),
.section-services-overview__post:nth-child(n + 2) {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--color-pink);
}

.section-services-overview__btn {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .section-services__content,
  .section-services-overview__content {
    flex-direction: row;
  }

  .section-services-overview__aside { 
    flex: 0 0 calc(50% - 2rem);
    position: sticky;
    top: var(--header-height, 0);
  }

  .section-services__post:nth-child(n + 2),
  .section-services-overview__post:nth-child(n + 2) {
    margin-top: 4rem;
    padding-top: 4rem;
  }
}

@media (min-width: 960px) {
  .section-services-overview__aside {
    flex: 0 0 calc(40% - 2rem);
  }
}

@media (max-width: 767px) {
  .section-services__posts,
  .section-services-overview__posts {
    padding-top: 2rem;
  }
}

.section-services-overview__post .btn--link {
  margin-top: 0.75rem;
}

/* SECTION: REVIEWS */
/* SECTION: REVIEWS */
/* SECTION: REVIEWS */

.section-reviews {
  overflow: hidden;
}

.section-reviews__reviews {
  display: grid;
  gap: var(--pw-margin);
  color: var(--color-dark-green);
}

@media (max-width: 767px) {
  .section-reviews__reviews {
    grid-auto-columns: calc(90% - var(--pw-margin));
    grid-auto-flow: column;
    overflow-x: scroll;
    padding-bottom: var(--pw-margin);
  }
}

@media (min-width: 768px) {
  .section-reviews__reviews {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .section-reviews__reviews {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* SECTION: 404 */
/* SECTION: 404 */
/* SECTION: 404 */

.section-404__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-404__content .btn--cta {
  margin-top: 1rem;
}

/* SECTION: FAQ */
/* SECTION: FAQ */
/* SECTION: FAQ */

.section-faq {
  background-color: var(--color-pink);
  padding: 6rem 0;
  color: var(--color-dark-green);
}

.section-faq__question {
  position: relative;
}

.section-faq__question::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  opacity: 0.2;
}

.section-faq__question-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.5rem 0;
}

.section-faq__question.active .section-faq__question-header {
  padding-bottom: 1rem;
}

.section-faq__question-header svg {
  display: block;
  width: 0.85rem;
  height: 0.85rem;
  transform-origin: center;
}

.section-faq__question.active .section-faq__question-header svg {
  transform: rotate(45deg);
}

.section-faq__question.active .section-faq__question-content {
  padding-bottom: 1.5rem;
}

.section-faq__question:not(.active) .section-faq__question-content {
  height: 0;
  overflow: hidden;
}

/* SECTION: POSTS */
/* SECTION: POSTS */
/* SECTION: POSTS */

.section-posts__posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-posts.section { 
  margin-bottom: 2rem;
}

.section-posts__post {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--pw-margin);
}

.section-posts__post .btn--link {
  margin-top: 1rem;
}

.section-posts__pagination {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

 .section-posts__pagination a,
 .section-posts__pagination span {
  display: inline-block;
  text-align: center;
  padding: 0.75rem;
  border-radius: 0.25rem;
  transition: border-radius 300ms ease-in, background-color 300ms ease-in;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  min-width: 42px;
}

.section-posts__pagination span {
  color: var(--color-sand);
  background-color: var(--color-black);
}

.section-posts__pagination a:hover {
  border-radius: 1rem;
}


@media (min-width: 768px) {
  .section-posts__post {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

/* SECTION: POST */
/* SECTION: POST */
/* SECTION: POST */

.section-post {
  margin-bottom: 3rem;
}

.section-post__image {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-post__random-post .h3,
.section-post__random-post .p,
.section-post__random-post .btn--link {
  margin: 1rem 0 0;
}

.section-post__random-posts {
  margin-top: 4rem;
}

.section-post__random-posts-content {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .section-post__random-posts-content {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--pw-margin);
  }
}

/* SECTION: CARDS */
/* SECTION: CARDS */
/* SECTION: CARDS */

.section-cards__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--pw-margin);
}

.section-cards__card {
  padding: 2rem;
  color: var(--color-dark-orange);
  background-color: var(--color-green);
  border-radius: 2rem;
}

@media (min-width: 768px) {
  .section-cards__cards {
    grid-template-columns: repeat(var(--columns, 2), 1fr);
  }
}

/* SECTION: LINKS */
/* SECTION: LINKS */
/* SECTION: LINKS */

.section-links { 
  margin-top: 3rem;
}


.section-links__links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pw-margin);
}