/* SECTION: TEXT */
/* SECTION: TEXT */
/* SECTION: TEXT */

.section-text {
  padding: 2rem 0;
  display: grid;
  align-items: center;
}

/* SECTION: GALLERY */
/* SECTION: GALLERY */
/* SECTION: GALLERY */

.section-gallery__wrapper {
  overflow: hidden;
  width: 100%;
}

.section-gallery__images {
  display: flex;
  align-items: center;
  gap: var(--pw-margin);
}

.section-gallery__image-container {
  flex: 0 0 60%;
}

.section-gallery__image-container img {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
}

@media (min-width: 960px) {
  .section-gallery__images {
    display: flex;
    align-items: center;
  }

  .section-gallery__image-container {
    flex: 0 0 40%;
  }
}

/* SECTION: SERVICES */
/* SECTION: SERVICES */
/* SECTION: SERVICES */

.section-services__content,
.section-services-overview__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0 4rem;
}

.section-services-overview__aside {
  flex: 0 0 calc(40% - 2rem);
  position: sticky;
  top: var(--header-height, 0);
  background-color: var(--color-white);
  margin-top: -1px;
}

.section-services__posts,
.section-services-overview__posts {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.section-services__post:nth-child(n + 2),
.section-services-overview__post:nth-child(n + 2) {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--color-grey);
}

@media (min-width: 768px) {
  .section-services__content,
  .section-services-overview__content {
    flex-direction: row;
  }

  .section-services-overview__aside { 
    flex: 0 0 calc(50% - 2rem);
  }

  .section-services__post:nth-child(n + 2),
  .section-services-overview__post:nth-child(n + 2) {
    margin-top: 4rem;
    padding-top: 4rem;
  }
}

@media (min-width: 960px) {
  .section-services-overview__aside {
    flex: 0 0 calc(40% - 2rem);
  }
}

@media (max-width: 767px) {
  .section-services-overview__aside {
    border-bottom: 1px solid var(--color-grey);
    padding: calc(0.5rem + 1px) 0 var(--pw-margin);
  }

  .section-services__posts,
  .section-services-overview__posts {
    padding-top: 2rem;
  }
}

.section-services-overview__post .btn--link {
  margin-top: 0.75rem;
}

/* SECTION: REVIEWS */
/* SECTION: REVIEWS */
/* SECTION: REVIEWS */

.section-reviews {
  overflow: hidden;
}

.section-reviews__reviews {
  display: grid;
  gap: var(--pw-margin);
}

@media (max-width: 959px) {
  .section-reviews__reviews {
    grid-auto-columns: calc(90% - var(--pw-margin));
    grid-auto-flow: column;
    overflow-x: scroll;
    padding-bottom: var(--pw-margin);
  }
}

@media (min-width: 960px) {
  .section-reviews__reviews {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* SECTION: 404 */
/* SECTION: 404 */
/* SECTION: 404 */

.section-404__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-404__content .btn--cta {
  margin-top: 1rem;
}

/* SECTION: FAQ */
/* SECTION: FAQ */
/* SECTION: FAQ */

.section-faq {
  background-color: var(--color-orange--light);
  padding: 6rem 0;
}

.section-faq__question {
  border-bottom: 1px solid var(--color-grey);
}

.section-faq__question-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.5rem 0;
}

.section-faq__question.active .section-faq__question-header {
  padding-bottom: 1rem;
}

.section-faq__question-header svg {
  display: block;
  width: 0.85rem;
  height: 0.85rem;
  transform-origin: center;
}

.section-faq__question.active .section-faq__question-header svg {
  transform: rotate(45deg);
}

.section-faq__question.active .section-faq__question-content {
  padding-bottom: 1.5rem;
}

.section-faq__question:not(.active) .section-faq__question-content {
  height: 0;
  overflow: hidden;
}