/* SECTION: TEXT */
/* SECTION: TEXT */
/* SECTION: TEXT */

.section-text {
  padding: 2rem 0;
  display: grid;
  align-items: center;
}

.section-text__btn {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* SECTION: GALLERY */
/* SECTION: GALLERY */
/* SECTION: GALLERY */

.section-gallery__wrapper {
  overflow: hidden;
  width: 100%;
}

.section-gallery__images {
  display: flex;
  align-items: center;
  gap: var(--pw-margin);
}

.section-gallery__image-container {
  flex: 0 0 60%;
}

.section-gallery__image-container img {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
}

@media (min-width: 960px) {
  .section-gallery__images {
    display: flex;
    align-items: center;
  }

  .section-gallery__image-container {
    flex: 0 0 40%;
  }
}

/* SECTION: SERVICES */
/* SECTION: SERVICES */
/* SECTION: SERVICES */

.section-services__content {
  display: grid;
  align-items: start;
  gap: 0 4rem;
  grid-template-columns: 1fr;
}

.section-services__aside {
  position: sticky;
  top: var(--header-height, 0);
  background-color: var(--color-white);
  padding: 1px 0 var(--pw-margin);
  margin-top: -1px;
}

.section-services__posts {
  display: flex;
  flex-direction: column;
}

.section-services__post:nth-child(n + 2) {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--color-grey);
}

@media (min-width: 768px) {
  .section-services__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-services__post:nth-child(n + 2) {
    margin-top: 4rem;
    padding-top: 4rem;
  }
}

@media (min-width: 960px) {
  .section-services__content {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 767px) {
  .section-services__aside {
    border-bottom: 1px solid var(--color-grey);
  }

  .section-services__posts {
    padding-top: 2rem;
  }
}

/* SECTION: REVIEWS */
/* SECTION: REVIEWS */
/* SECTION: REVIEWS */

.section-reviews__reviews {
  display: flex;
  gap: var(--pw-margin);
  height: 20rem;
  overflow: hidden;
}

.section-reviews__column-0,
.section-reviews__column-1,
.section-reviews__column-2 {
  flex: 1 1 100%;
}

.p-review {
  border-radius: 0.75rem;
  background-color: var(--color-orange--light);
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.p-review__icon {
  color: var(--color-orange--lighter);
  display: flex;
  justify-content: center;
}

.p-review__review {
  flex: 1 1 100%;
  overflow-y: scroll;
  position: relative;
}

.p-review__review::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(transparent, var(--color-orange--light));
}

.p-review .label {
  margin: 0;
}