/* SECTION: TEXT */
.section-text {
  padding: 2rem 0;
  display: grid;
  align-items: center;
}

.section-text__btn {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* SECTION: GALLERY */
.section-gallery__wrapper {
  overflow: hidden;
  width: 100%;
}

.section-gallery__images {
  display: flex;
  align-items: center;
  gap: var(--pw-margin);
}

.section-gallery__image-container {
  flex: 0 0 60%;
}

.section-gallery__image-container img {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
}

@media (min-width: 960px) {
  .section-gallery__images {
    display: flex;
    align-items: center;
  }

  .section-gallery__image-container {
    flex: 0 0 40%;
  }
}

/* SECTION: SERVICES */
.section-services__content {
  display: grid;
  align-items: start;
  gap: 0 4rem;
  grid-template-columns: 1fr;
}

.section-services__aside {
  position: sticky;
  top: var(--header-height, 0);
}

.section-services__posts {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (min-width: 768px) {
  .section-services__content {
    grid-template-columns: 1fr 2fr;
  }
}