@media (min-width: 960px) {
  .hidden-desktop {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

@media (max-width: 959px) {
  .hidden-tablet {
    display: none;
  }
}